/* styles for the elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    border: 3px solid steelblue;
    box-shadow: 0 .625em 1.25em .625em;
    display: grid;
    grid-template: repeat(4, auto) / 3fr 8fr;
    grid-column-gap: 3%;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-weight: bold;
}
a:hover, a:focus {
    color: maroon;
}

/* styles for the header */
header {
    background-image: -webkit-linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    background-image: -moz-linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    background-image: -o-linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    background-image: linear-gradient(to bottom, white 0%, lightsteelblue 100%);
    padding: 15px 3.3333%;
    border-bottom: 2px solid steelblue;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
header img {
    float: left;
    width: 15.5555%;
    max-width: 140px;
    min-width: 70px;
}
header h2 {
    font-size: 250%;
    font-style: italic;
    color: steelblue;
    text-indent: 5%;
    text-shadow: 3px 3px 3px steelblue;
    margin-bottom: .3em;
}
header h3 {
    font-size: 150%;
    text-indent: 5%;
    padding-bottom: .75em;
}

/* the styles for the navigation menu */
#nav_menu {
    clear: left;
    border-bottom: 2px solid steelblue;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}
#nav_menu ul {
    list-style: none;
    margin: 0; 
    padding: 0;
    display: grid;
    grid-template: auto / repeat(5, 1fr);
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: steelblue;
    color: white;
}
#nav_menu ul li a.current {
    color: black;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    background-color: lightsteelblue;
}

/* styles for the section */
section {
    padding: 1.5625em 3.3333%;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
section h1 {
    font-size: 160%; 
    margin-bottom: .3em;
}
section h3 {
    color: maroon;
    font-size: 110%;
    margin-bottom: .4em;
}
section p {
    font-size: 100%;
    margin-bottom: .7em;
}
section ul {
    margin-bottom: 0;
}

/* styles for the sidebar */
aside {
    padding: 1.5625em 0 0 3.3333%;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
aside h2 {
    font-size: 130%;
    color: maroon;
    margin-bottom: .4em;
}
aside ul {
    line-height: 1.5;
    margin: 0;
    padding-left: 1em;
}
aside a:link, aside a:visited {
    color: steelblue;
}
aside a:hover, a:focus {
    color: maroon;
}

/* styles for footer */
footer {
    padding: .9375em 3.3333%;
    background-color: steelblue;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}
footer p {
    text-align: center;
    font-size: 85%;
    color: white;
}
#mobile_menu {
    display: none;
}

/* media queries */
@media only screen and (max-width: 900px) {
    body { 
        font-size: 90%;
        box-shadow: none;
    }
}

@media only screen and (max-width: 767px) {
    body {
        grid-template: repeat(5, auto) / 1fr;
    }
    header {
        grid-column: 1 / 2;
    }
    #nav_menu { 
        display: none; 
    }
    
    /* change background and decrease padding */
    .slicknav_menu {
        background: steelblue !important;
        padding: 3px !important;
    }
    
    #mobile_menu {
        display: block;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    #mobile_menu ul {
        background-color: steelblue;
    }
    #mobile_menu a {
        background-color: steelblue;
    }
    #mobile_menu a:hover, #mobile_menu a:focus {
        color: lightsteelblue;
    }
    header h2 {
        font-size: 200%;
    }
    section {
        grid-column: 1 / 2;
        padding-left: 3.3333%;
        padding-right: 3.33333%;
    }
    aside {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        padding: 0 3.33333%; 1.5625em 3.3333%;
    }
    footer {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    
}

@media only screen and (max-width: 479px) {
    header h2 {
        font-size: 180%;
    }
    header h3 {
        font-size: 115%;
    }
    section p {
        font-size: 95%;
    }
}